/* title */
.overlay {
    padding-top: 8em;
    text-align: center;
}

.overlay h1 {
    padding-bottom: 0.3em;
}

#header-line1 {
    animation: bottom-fade-in-delay 1.2s forwards ease-in-out;
    margin-bottom: 0em;
}

#header-line2 {
    opacity: 0;
    animation: bottom-fade-in-delay 1.2s forwards ease-in-out;
    animation-delay: 0.75s;
}

#header-line3 {
    opacity: 0;
    animation: bottom-fade-in-delay 1.2s forwards ease-in-out;
    animation-delay: 1.5s;
    font-size: 0.75em;
    padding-bottom: 2em;
}

#header-line1, #header-line2 {
    display: inline-block;
    padding: 0.12em;
}

#fade-body-in {
    opacity: 0;
    animation: bottom-fade-in 1.2s forwards ease-in-out;
    animation-delay: 2.5s;
}

@keyframes bottom-fade-in {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bottom-fade-in-delay {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.navbar-collapse {
    justify-content: flex-end;
}

/* .navbar-nav li a {
    color: white;
}
.navbar-nav li a :hover {
    color: white;
} */

/* body css */
body {
    font-family: 'Inter', sans-serif;
}