/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* title */
h1 {
    padding: 10em 0em 0em 10em;
}
#header-line1 {
    animation: bottom-fade-in 1.5s ease-in-out;
    margin-bottom: 0em;
}

#header-line2 {
    animation: bottom-fade-in 3s ease-in-out;
    animation-delay: 1.5s;
}

@keyframes bottom-fade-in {
    0% {
    }
    50% {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* body css */
body {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    background-color: #060e22;
}

a {
    color: #a7cced;
}
