@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --bs-font-sans-serif: 'Inter', sans-serif;
    --bs-body-bg: #060e22;
    --bs-body-color: white;
}

.overlay {
    padding-top: 8em;
    text-align: center;
}

.overlay h1 {
    padding-bottom: 0.3em;
}


.navbar-collapse {
    justify-content: flex-end;
}

.navbar {
    background-color: #0a183b;
}

.nav-link, .nav-link, .navbar-brand {
    color: #d5eded;
}

.nav-link:hover, .nav-link:focus, .navbar-brand:hover {
    color: #8387c7;
}

.dropdown-menu, .dropdown-item {
    background-color: #484c96;
    color: white;
}

.list-group-item { 
    background-color: #3ddd9a;
    color: #060e22;
}/* 0a183b */

/* customizing links */
.text-link {
    background-image: linear-gradient(to right,
            #16b7cc,
            #16b7cc 50%,
            #4750c9 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    /* padding: 5px 0; */
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.text-link:before {
    content: '';
    background: #16b7cc;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.text-link:hover {
    background-position: 0;
}

.text-link:hover::before {
    width: 100%;
}
