/* Webfont: Reforma 1918 Blanca */
@font-face {
    font-family: "Reforma1918";
    src:
        url("Reforma1918/Reforma1918-Blanca.woff2") format("woff2"),
        /* /* Super Modern Browsers */ url("Reforma1918/Reforma1918-Blanca.woff") format("woff"),
        /* Modern Browsers */ url("Reforma1918/Reforma1918-Blanca.eot") format("woff"),
        url("Reforma1918/Reforma1918-Blanca.ttf") format("truetype"); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Reforma 1918 BlancaItalica */
@font-face {
    font-family: "Reforma1918";
    src:
        url("Reforma1918/Reforma1918-BlancaItalica.woff2") format("woff2"),
        /* /* Super Modern Browsers */ url("Reforma1918/Reforma1918-BlancaItalica.woff") format("woff"),
        /* Modern Browsers */ url("Reforma1918/Reforma1918-BlancaItalica.eot") format("woff"),
        url("Reforma1918/Reforma1918-BlancaItalica.ttf") format("truetype"); /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Reforma1918 Gris */
@font-face {
    font-family: "Reforma1918";
    src:
        url("Reforma1918/Reforma1918-Gris.woff2") format("woff2"),
        /* /* Super Modern Browsers */ url("Reforma1918/Reforma1918-Gris.woff") format("woff"),
        /* Modern Browsers */ url("Reforma1918/Reforma1918-Gris.eot") format("woff"),
        url("Reforma1918/Reforma1918-Gris.ttf") format("truetype"); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

/* Webfont: Reforma1918 GrisItalica */
@font-face {
    font-family: "Reforma1918";
    src:
        url("Reforma1918/Reforma1918-GrisItalica.woff2") format("woff2"),
        /* /* Super Modern Browsers */ url("Reforma1918/Reforma1918-GrisItalica.woff") format("woff"),
        /* Modern Browsers */ url("Reforma1918/Reforma1918-GrisItalica.eot") format("woff"),
        url("Reforma1918/Reforma1918-GrisItalica.ttf") format("truetype"); /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

/* Webfont: Reforma1918 Negra */
@font-face {
    font-family: "Reforma1918";
    src:
        url("Reforma1918/Reforma1918-Negra.woff2") format("woff2"),
        /* /* Super Modern Browsers */ url("Reforma1918/Reforma1918-Negra.woff") format("woff"),
        /* Modern Browsers */ url("Reforma1918/Reforma1918-Negra.eot") format("woff"),
        url("Reforma1918/Reforma1918-Negra.ttf") format("truetype"); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Reforma1918 NegraItalica */
@font-face {
    font-family: "Reforma1918";
    src:
        url("Reforma1918/Reforma1918-NegraItalica.woff2") format("woff2"),
        /* /* Super Modern Browsers */ url("Reforma1918/Reforma1918-NegraItalica.woff") format("woff"),
        /* Modern Browsers */ url("Reforma1918/Reforma1918-NegraItalica.eot") format("woff"),
        url("Reforma1918/Reforma1918-NegraItalica.ttf") format("truetype"); /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}
