* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:
        background-color 0.3s,
        color 0.1s;
}

body {
    background: var(--background);
    color: var(--text);
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --accent-rgb: 137, 194, 243;
}
